extends ../layout

block content

  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign in
  .row
    .col-md-6.offset-md-3.col-sm-10.offset-sm-1
      
      form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.font-weight-bold(for='email') Email
          .col-md-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
        .form-group
          label.font-weight-bold(for='password') Password
          .col-md-7
            input.form-control(type='password', name='password', id='password', placeholder='Password', required)
        .form-group
            button.btn.btn-primary.ml-2(type='submit')
              i.far.fa-user.fa-sm
              | Login
            a.btn.btn-link(href='/forgot') Forgot your password?
        .form-group
            hr
        .form-group
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              i.fab.fa-facebook-f.fa-sm
              | Sign in with Facebook
            a.btn.btn-block.btn-google.btn-social(href='/auth/google')
              i.fab.fa-google-plus-g.fa-xs
              | Sign in with Google

