extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row
        label.col-2.control-label(for='first_name') First Name
        .col-sm-4
          input.form-control(type='text', name='first_name', id='first_name', value=user.profile.first_name)
      .form-group.row
        label.col-2.control-label(for='last_name') Last Name
        .col-sm-4
          input.form-control(type='text', name='last_name', id='last_name', value=user.profile.last_name)
      .form-group.row
        label.col-2.control-label(for='email') Email
        .col-sm-4
          input.form-control(type='email', name='email', id='email', value=user.email)
      .form-group.row
        label.col-2.control-label(for='address') Address
        .col-sm-4
          input.form-control(type='text', name='address', id='address', value=user.profile.address)
      .form-group.row
        label.col-2.control-label(for='city') City
        .col-3
          input.form-control(type='text', name='city', id='city', value=user.profile.city)
      .form-group.row
        label.col-2.control-label(for='state') State
        .col-sm-2
          - var options = [{value: 'AK', text:'Alaska'}, {value: 'AL', text:'Alabama'}, {value: 'AR', text:'Arkansas'},{value: 'AZ', text:'Arizona'},{value: 'CA', text:'California'},{value: 'CO', text:'Colorado'},{value: 'CT', text:'Connecticut'},{value: 'DC', text:'District of Columbia'},{value: 'DE', text:'Delaware'},{value: 'FL', text:'Florida'},{value: 'GA', text:'Georgia'},{value: 'HI', text:'Hawaii'},{value: 'IA', text:'Iowa'},{value: 'ID', text:'Idaho'}, {value: 'IL', text:'Illinois'},{value: 'IN', text:'Indiana'},{value: 'KS', text:'Kansas'},{value: 'KY', text:'Kentucky'},{value: 'LA', text:'Louisiana'},{value: 'MA', text:'Massachusetts'},{value: 'MD', text:'Maryland'},{value: 'ME', text:'Maine'},{value: 'MI', text:'Michigan'},{value: 'MN', text:'Minnesota'},{value: 'MO', text:'Missouri'},{value: 'MS', text:'Mississippi'},{value: 'MT', text:'Montana'},{value: 'NC', text:'North Carolina'},{value: 'ND', text:'North Dakota'},{value: 'NE', text:'Nebraska'},{value: 'NH', text:'New Hampshire'},{value: 'NJ', text:'New Jersey'},{value: 'NM', text:'New Mexico'},{value: 'NV', text:'Nevada'},{value: 'NY', text:'New York'},{value: 'OH', text:'Ohio'},{value: 'OK', text:'Oklahoma'},{value: 'OR', text:'Oregon'},{value: 'PA', text:'Pennsylvania'},{value: 'PR', text:'Puerto Rico'},{value: 'RI', text:'Rhode Island'},{value: 'SC', text:'South Carolina'},{value: 'SD', text:'South Dakota'},{value: 'TN', text:'Tennessee'},{value: 'TX', text:'Texas'},{value: 'UT', text:'Utah'},{value: 'VA', text:'Virginia'},{value: 'VT', text:'Vermont'},{value: 'WA', text:'Washington'},{value: 'WI', text:'Wisconsin'},{value: 'WV', text:'West Virginia'},{value: 'WY', text:'Wyoming'}];
            select.form-control(name='state')
              each obj in options
                if (user.profile.state === obj.value)
                  option(value= obj.value, selected)= obj.text
                else
                  option(value= obj.value)= obj.text
      .form-group.row
        label.col-2.control-label(for='zip') Zip
        .col-sm-1
          input.form-control(type='text', name='zip', id='zip', value=user.profile.zip)
      .form-group.row
        label.col-2.control-label Gravatar
        .col-sm-4
          img(src=user.gravatar(), class='profile', width='100', height='100')
      .form-group.row
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Update Profile

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7
        input.form-control(type='password', name='password', id='password')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group.row
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Change Password

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Account

  form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group.row
      p.offset-sm-3.col-md-7.pl-2 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Delete my account

  .pb-2.mt-2.mb-4.border-bottom
    h3 Linked Accounts
  .form-group.row
    .offset-sm-3.col-md-7.pl-2
      if user.google
        p.mb-1: a.text-danger(href='/account/unlink/google') Unlink your Google account
      else
        p.mb-1: a(href='/auth/google') Link your Google account
    .offset-sm-3.col-md-7.pl-2
      if user.facebook
        p.mb-1: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
      else
        p.mb-1: a(href='/auth/facebook') Link your Facebook account
        