extends ../layout

block content
  
  .pb-2.mt-2.mb-4.border-bottom
    h2 Sign Up
  .row
    .col-md-6.offset-md-3.col-sm-8.offset-sm-2
      form(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.font-weight-bold(for='formGroupEmailInput') Email
          input#formGroupEmailInput.form-control(type='email', name='email', placeholder='Email', autofocus, required)
        .form-group
          label.font-weight-bold(for='formGroupPasswordInput') Password
          input#formGroupPasswordInput.form-control(type='password', name='password', placeholder='Password', required)
        .form-group
          label.font-weight-bold(for='formGroupConfirmPasswordInput') Confirm Password
          input#formGroupConfirmPasswordInput.form-control(type='password', name='confirmPassword', placeholder='Confirm Password', required)
        .form-group
          p !{captcha}
        button.btn.btn-success(type='submit')
            i.fas.fa-user-plus.fa-sm
            | Signup
