footer
  .row
    .col-sm-12
      ul.list-inline.text-center
        li.list-inline-item
          a(href='https://www.facebook.com/AikidoRochester/', target='_self')
            span.fa-2x
              i.fab.fa-facebook
        li.list-inline-item
          a(href='https://twitter.com/aikidoroc')
            span.fa-2x
              i.fab.fa-twitter
        li.list-inline-item
          a(href='https://www.instagram.com/aikidoroc/')
            span.fa-2x
              i.fab.fa-instagram
        li.list-inline-item
          a(href='https://www.youtube.com/channel/UCzA-MxmF4MTDi_bB6DQCPKg/')
            span.fa-2x
              i.fab.fa-youtube
        li.list-inline-item
          a(href='https://www.yelp.com/biz/aikido-kokikai-rochester-dojo-rochester?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)')
            span.fa-2x
              i.fab.fa-yelp
  .row
    .col-sm-12
      p.text-center © 2018 Aikido Kokikai of Rochester All Rights Reserved