.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      img.img-responsive.logo(src="/images/akr-logo.png", width=40, height=40) 
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home

        li.nav-item.dropdown(class=(title === 'About') ? 'active' : undefined)
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            span About
            i.caret
          .dropdown-menu
            a.dropdown-item(href='/about') About Us
            .dropdown-divider
            a.dropdown-item(href='/aikido') Aikido Kokikai

        li.nav-item(class=(title === 'Classes') ? 'active' : undefined)
          a.nav-link(href='/classes') Classes
        li.nav-item(class=(title === 'Instructors') ? 'active' : undefined)
          a.nav-link(href='/instructors') Instructors
        li.nav-item(class=(title === 'FAQ') ? 'active' : undefined)
          a.nav-link(href='/faq') FAQ
        li.nav-item(class=(title === 'Contact Us') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact Us

      ul.nav.navbar-nav.ml-auto
          li.dropdown(class=(title === 'Members') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown') Members
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/dues') Pay Dues
