extends layout
block pagecss
  link(href="/css/lightbox.min.css", rel="stylesheet")

block content
  .pb-2.mt-3.mb-4.border-bottom
      h2 About Us

  .row
    .col
      .galleria.box-shadow
        img(src='images/about/about10.jpg')
        img(src='images/about/about11.jpg')
        img(src='images/about/about15.jpg')
        img(src='images/about/about7.jpg')
        img(src='images/about/about8.jpg')
        img(src='images/about/about16.jpg') 
        img(src='images/about/about1.jpg')
        img(src='images/about/about2.jpg')
        img(src='images/about/about3.jpg')
        img(src='images/about/about4.jpg')
        img(src='images/about/about12.jpg')
        img(src='images/about/about13.jpg')
        img(src='images/about/about14.jpg')
        img(src='images/about/about5.jpg')
        img(src='images/about/about9.jpg')
        img(src='images/about/newabout1.jpg')
        img(src='images/about/newabout3.jpg')
        img(src='images/about/newabout4.jpg')
        img(src='images/about/newabout7.jpg')
        img(src='images/about/newabout8.jpg')
        img(src='images/about/newabout9.jpg')
        

  .row.text-center.mt-4
    .col 
      a.join-btn.btn-primary.box-shadow(href="" data-target="#basicModal" data-toggle="modal") Join Us!
  .pb-2.mt-4.mb-4.border-bottom
      h2 Our History
  .row
    .col
      p.
        Aikido Kokikai of Rochester was established in 1984.
        The dojo was originally founded as a club at #[a(href="http://rit.edu") Rochester Institute of Technology].  As people graduated from RIT, a small dojo was formed in the community, moving a few times from rooms at RIT, to #[a(href="http://www.monroecc.edu/") MCC], to a place on University Avenue, and then finally to the beautiful space we currently occupy in the historic Post Office building on Cumberland Street.  Unlike many schools, we have found strength in diversity of leadership in that it produces better, more thoughtful and prepared students.  For the majority of our existence, we have had two co-chief instructors which fosters a collaborative and open learning environment.  Currently, those roles are filled by Brian Martens and Marcella Sarkozy. They both hold the rank of Yon Dan (4th Degree Black Belt) and lead a team of dedicated #[a(href="/instructors") instructors] that teach 9 regularly scheduled #[a(href="/classes") classes] each week. We have been serving the Greater Rochester community for over three decades and we hope to continue sharing the joy of Aikido with as many people as we can.
  .pb-2.mt-4.mb-4.border-bottom
      h2 Our Dojo
  .row
    .col
      a(href="/images/dojopic.jpg" data-lightbox="dojopics" data-title="Our Dojo")
        img.img-responsive.box-shadow(src='/images/dojopic.jpg', alt='Our Dojo')
  br
  .row
    .col
      a(href="/images/entrance.jpg" data-lightbox="dojopics" data-title="Entrance")
        img.img-responsive.box-shadow.sml-pic(src='/images/entrance.jpg', alt='Entrance')
    .col
      a(href="/images/dressing-rooms.jpg" data-lightbox='dojopics' data-title="Dressing Rooms")
        img.img-responsive.box-shadow.sml-pic(src='/images/dressing-rooms.jpg', alt='Dressing Rooms')
    .col
      a(href="/images/shomen-pic.jpg" data-lightbox="dojopics" data-title="The Shomen")
        img.img-responsive.box-shadow.sml-pic(src='/images/shomen-pic.jpg', alt='The Shomen')
    .col
      a(href="/images/bell.jpg" data-lightbox="dojopics" data-title="The Starting Bell")
        img.img-responsive.box-shadow.sml-pic(src='/images/bell.jpg', alt='The Starting Bell')
    .col
      a(href="/images/couch.jpg" data-lightbox="dojopics" data-title="Our Viewing Area")
        img.img-responsive.box-shadow.sml-pic(src='/images/couch.jpg', alt='Our Viewing Area')

  .pb-2.mt-4.mb-4.border-bottom
      h2 Directions
  .row.mb-3
    .col-md-5.offset-md-1
      .map-responsive.box-shadow
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2910.271161277928!2d-77.60840168461422!3d43.16183197914117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b5ace718ce0f%3A0xfeac625d5ea0a90a!2s250+Cumberland+St%2C+Rochester%2C+NY+14605!5e0!3m2!1sen!2sus!4v1509420077643', frameborder='0', style='border:0', allowfullscreen='')

    .col-md-5
      img.center-block.img-match-container.box-shadow(src='/images/postoffice.jpg', alt="Post Office")

  .row.mt-3
    .col
      p.center-block.text-left.
        We practice in a spacious 3000 sq ft. facility in downtown Rochester at the historic Post Office building located at #[a(href="https://goo.gl/maps/EkYxgZf2aDy") 250 Cumberland St. Rochester, NY 14605 Suite 216].
  br
  br
  .row.text-center
    .col 
      a.join-btn.btn-primary.box-shadow(href="" data-target="#basicModal" data-toggle="modal") Join Us!

block pagejs
  script(src='/js/jquery.fitvids.js')
  script(type='text/javascript', src='/js/lib/lightbox.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js')
  script(type='text/javascript', src='/js/about.js')

