extends layout
block pagecss
  link(href="/css/lightbox.min.css", rel="stylesheet")
block content
  .row.mb-5.mt-5
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      a(href="/images/SenseiThrowing.jpg" data-lightbox="senseipic" data-title="Sensei Throwing")
        img.img-responsive.center-block.box-shadow.mb-3(src='/images/SenseiThrowing.jpg', alt='Sensei Throwing', height=400, width=500)
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      h1.text-center.
        #[strong Aikido Kokikai] is an efficient form of Aikido created by #[strong Shuji Maruyama Sensei].
      br
      blockquote.blockquote.text-center.
        #[strong "Minimum Effort, Maximum Effect"]
      br
      p.
        Aikido Kokikai focuses taking balance from the attacker, keeping that balance and throwing with as little energy as possible.  The attack supplies all of the energy needed to execute technique. Instead of thinking about throwing as an act of applying force to the adversary, Kokikai students think of throwing as leading the opponent to a fall.  In that way, we aim to achieve Aikido's ultimate goal of defending oneself and resolving conflict without the need for excessive violence.

  .row.mb-5
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      h3.
        Shuji Maruyama Sensei studied under Morihei Ueshiba, the founder of Aikido.
      p.
        Maruyama Sensei was originally a student of Koichi Tohei Sensei, one of Ueshiba Sensei's top students who later founded Ki Society (Shin Shin Toitsu) Aikido.  
        On Tohei's reccommendation, Maruyama Sensei was invited to train under Ueshiba Sensei as an uchideshi (A live-in student).
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      a(href="/images/sensei_student.jpg" data-lightbox="senseipic" data-title="Osensei's Student")
        img.img-responsive.center-block.box-shadow(src='/images/sensei_student.jpg', alt='Sensei as a student', height=274, width=400)

  .row.mb-5
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      h3.
        In 1966, Maruyama Sensei was tasked by the Aikikai Hombu Dojo to travel to the United States to spread the teachings of Aikido.

      p.
        This was both a great honor and a life changing experience for Sensei.  The world was still healing following the events of World War II and Sensei says that, at the time, getting invited to visit the victor country felt like getting invited to board a space ship to the moon.
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      a(href="/images/sensei_with_osensei.jpg" data-lightbox="senseipic" data-title="Setting off for the United States")
        img.img-responsive.center-block.box-shadow(src='/images/sensei_with_osensei.jpg', alt='Sensei and Osensei', , height=313 width=450)

  .row.mb-5
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      h3.
        For several years, Sensei taught Aikido in Cleveland, Ohio and later in Philadelphia, Pennsylvania.
      p. 
        During this time, he found that Americans were stubborn and non-compliant.  They questioned everything that Sensei taught and put his Aikido to the test. 
        This was very different from his experiences in Japan and it forced him to rethink his style of Aikido.
    .col-md-6.offset-md-0.col-sm-10.offset-sm-1
      a(href="/images/sensei-in-cleveland.jpg" data-lightbox="senseipic" data-title="Sensei in Cleveland")
        img.img-responsive.center-block.box-shadow(src='/images/sensei-in-cleveland.jpg', alt='Sensei in Cleveland', height=350 width=350)

  .row.mb-5
    .col
      h3.text-center.
        In 1986, Maruyama Sensei decided to start his own Aikido practice and he called it "Kokikai", "The School of Radiant Ki".

      p.
        The school Maruyama Sensei built is the result of his unique experiences teaching Aikido in both Japan and the United States. Kokikai Aikido takes the philosophies and techniques of traditional Aikido and tempers them with western empiricism. Kokikai Aikido continues to evolve each and every day as both a community and a martial art.
      a(href="/images/kokikaibeginnings.jpg" data-lightbox="senseipic" data-title="Kokikai Beginnings")
        img.img-responsive.center-block.box-shadow(src='/images/kokikaibeginnings.jpg', alt='', height=320 width=500)

  .row.mb-5
    .col-10.offset-1
      h3.
        From humble beginnings, Kokikai has grown to be a substantial international organization. 
      p.
        Kokikai is headquartered at Maruyama Sensei's dojo in Nagoya, Japan.  Sensei regularly travels to the United States and Australia to teach hundreds of students at seasonal Kokikai camps and seminars.
  .row.mb-5
    .col
      .galleria.box-shadow
        img(src='/images/camp1970s.jpg')
        img(src='/images/wintercamp1985.jpg')
        img(src='/images/camppic1.jpg')
        img(src='/images/camppic2.jpg')
        img(src='/images/camppic3.jpg')
        img(src='/images/dojovisit1.jpg')  
        img(src='/images/dojovisit2.jpg') 
        img(src='/images/camppic5.jpg')
        img(src='/images/camppic6.jpg')
        img(src='/images/dojovisit4.jpg')
        img(src='/images/roc_group_pic.jpg')

  .row.mb-4
    .col.text-center
      p.
        For more infomation about Shuji Maruyama Sensei and Kokikai please visit:
      a(href="http://kokikai.org") kokikai.org
      br
      a(href="http://kokikaiusa.org") kokikaiusa.org
  
  .row.text-center.mb-5
    .col-sm-12.text-center 
      a.join-btn.btn-primary.box-shadow(href="" data-target="#basicModal" data-toggle="modal") Join Us!
block pagejs
  script(src='https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js')
  script(type='text/javascript', src='/js/lib/lightbox.min.js')
  script(src='/js/aikido.js')
