extends layout

block content
  .pb-2.mt-3.mb-4.border-bottom
    h2 Classes
  .row
    .col-md-10.offset-md-1
      img.img-responsive.box-shadow(src='/images/classpic.jpg', alt='Classes')
  .pb-2.mt-3.mb-4.border-bottom
    h2 Schedule
  .row.mt-4
      .col-sm-8.offset-sm-3
        table.table.table-sm.table-responsive.table-striped
          thead
            tr
              th(scope='col') Day
              th(scope='col') Time
              th(scope='col') Instructor
              th(scope='col') Description
          tbody
            tr
              th(scope='row') Monday
              td 6:00PM - 7:00PM
              td Ray Easton
              td General Practice
            tr
              th(scope='row') 
              td 7:00PM - 8:00PM
              td Hugh Higgins
              td General Practice
            tr
              th(scope='row') Tuesday
              td 6:00PM - 7:00PM
              td Brian Martens
              td General Practice
            tr
              th(scope='row') 
              td 7:00PM - 8:30PM
              td Peter Veazie
              td General Practice
            tr
              th(scope='row') Wednesday
              td 6:00PM - 7:00PM
              td Marcella Sarkozy
              td Fundamentals / Beginners Practice
            tr
              th(scope='row') Thursday
              td 6:00PM - 7:00PM
              td Marcella Sarkozy
              td General Practice
            tr
              th(scope='row')
              td 7:00PM - 8:30PM
              td Brian Martens
              td Weapons / Randori
            tr
              th(scope='row') Friday
              td
              td
              td No Classes
            tr
              th(scope='row') Saturday
              td 9:00AM-10:00AM
              td Kerman Bharucha
              td Kids Class
            tr
              th(scope='row') 
              td 10:00AM-11:00AM 
              td Len Butler
              td General Practice
            tr
              th(scope='row') Sunday
              td 10:00AM-11:00AM
              td Open Mat
              td By request. Check with an Instructor!
  .row.mt-4
    .col
      .pb-2.mt-3.mb-4.border-bottom
        h2 A Typical Class
      p Our classes are designed to teach our students to develop strong mind-body coordination by incorporating the Principles of Aikido Kokikai into their daily lives.
  .row
    .col 
      h3 Kokikai Principles
  .row
    .col
      ol
        li.
          #[strong Keep One Point to develop calmness]
        li.
          #[strong Relax Progressively]
        li. 
          #[strong Find Correct Posture in Everything]
        li.
          #[strong Develop a Postive Mind]
  .row
    .col
      p In training, students quickly notice that these principles reinforce each other.  Focused practiced on any one principle will also help you develop the other three. Mastery of these principles will allow you to stay relaxed under pressure, develop confidence, find peace and balance in your life, and discover your best self.

      h3 Class Activities
      dl
        dt Stretching and Warmup Exercises
          dd We do our best to prepare our bodies for a wide range of motions.
        dt Ki Exercises
          dd We repeatedly execute common motions that are the building blocks that make up our techniques.
        dt Ukemi (Rolling/Falling) Exercises
          dd We practice rolling and falling so that we can be thrown safely.
        dt Principle Exercises
          dd We apply our principles in concentrated exercises to build habits that can be used in our daily lives.
        dt Self-Defense Techniques
          dd We practice for situations where words are not enough to resolve conflict. We train to defend against a variety of attacks including grabs, strikes, and weapons-based attacks.
        dt Weapons Kata
          dd We perform sequences of armed strikes to develop coordination, practice our attacks, and reinforce our principles.
        dt Randori and Freestyle Exercises
          dd We defends ourselves in high energy situations against one or many attackers to develop calmness, presence and focus.
    

  .row.text-center.mt-4
    .col 
      a.join-btn.btn-primary.box-shadow(href="" data-target="#basicModal" data-toggle="modal") Join Us!
