extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2 Contact Us
  .row
    .col-md-6.offset-md-3.col-sm-8.offset-sm-2
      h4 Have questions? Let us know!
      form(id='hidden', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        if (unknownUser)
          .form-group
            label.font-weight-bold(for='fromGroupNameInput') Name
            input#fromGroupNameInput.form-control(type='text', name='name', placeholder='Name', required)
          .form-group
            label.font-weight-bold(for='formGroupEmailInput') Email
            input#formGroupEmailInput.form-control(type='email', name='email', placeholder='Email', autofocus, required)
        .form-group
          label.font-weight-bold(for='fromGroupMessageInput') Message
          textarea#fromGroupMessageInput.form-control(name="message", cols="30", rows="7", required)
        .form-group
          p !{captcha}
        button.btn.btn-primary(type='submit')
            i.far.fa-envelope.fa-sm
            | send
