extends layout

block content
  
  .pb-2.mt-3.mb-4.border-bottom
    h2 Pay Dues
  #post-body-4610329846708772448.post-body.entry-content(itemprop='description articleBody').
    We accept cash, check and PayPal.  If you would like to take advantage of PayPal, here are some useful links.  To pay other amounts, please 
    #[a(href='/contact') contact us].
  .row.mt-4
    .col-sm-5
      h3 Monthly Single Payments
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4UKV7N59WF73S', target='_blank') Adult Single Payment, $60
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2D8E4KT4THQ7J', target='_blank') Student Single Payment, $35
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SAZ3N2UW2V4NQ', target='_blank') Kids Single Payment, $30
      br
    .col-sm-7
      h3 Monthly Subscriptions
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AD4YSQ2PJRJ6Y', target='_blank') Adult Monthly Subscription, $60
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5XXMUPTF36VS2', target='_blank') Student Monthly Subscription, $35
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6686AVDGZNSVN', target='_blank') Kids Monthly Subscription, $30
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      br
  .row
    .col-sm-5
      h3 Quarterly Single Payment
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=T6PQCEG5Z2XBY', target='_blank') Adult Quarterly Single Payment, $160
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HKE9ZWGMZES24', target='_blank') Student Quarterly Single Payment, $95 
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DN8DJMFQAZT4J', target='_blank') Kids Quarterly Single Payment, $80
      br
    .col-sm-7
      h3 Quarterly Subscription
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UEKA86K7QRUP2', target='_blank') Adult Quarterly Subscription Payment, $160
        .col-sm-6  
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QSXG5AZDLGNHE', target='_blank') Student Quarterly Subscription, $95
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2MQVY2ZB8KMES', target='_blank') Kids Quarterly Subscription , $80
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      br
  .row
    .col-sm-5
      h3 Semi-Annual Single Payment
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=J4CKZVQFKDRUY', target='_blank') Adult Semi-Annual Single Payment, $305
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JEYP8QY7CE6SE', target='_blank') Student Semi-Annual Single Payment, $180
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FVRDUR6TU39U6', target='_blank') Kids Semi-Annual Single Payment, $155
      br
    .col-sm-7
      h3 Semi-Annual Subscription
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MPSLK5KJHWPD8', target='_blank') Adult Semi-Annual Subscription Payment, $305
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RXY3E9YHGY3U6', target='_blank') Student Semi-Annual Subscription Payment, $180
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RVF748QC567X2', target='_blank') Kids Semi-Annual Subscription Payment, $155
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
  .row
    .col-sm-5
      h3 Annual Single Payment 
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FT95Z66TVRGJQ', target='_blank') Adult Annual Single Payment, $605
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6R7QLF7AJRJYQ', target='_blank') Student Annual Single Payment, $355
      br
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JEYFJCNYC6W3N', target='_blank') Kids Annual Single Payment, $305    
      br
    .col-sm-7
      h3 Annual Subscription
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BVG7RCHE2Y7QL', target='_blank') Adult AnnualSubscription Payment, $605
        .col-sm-6 
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UJA25L3CW8BE8', target='_blank') Student Annual Subscription Payment, $355
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      .row
        .col-sm-6
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9SD3ZUX2DFA2Q', target='_blank') Kids Annual Subscription Payment, $305
        .col-sm-6 
          a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=47HU46UFQ9KPE', target='_blank') Unsubscribe
      br
