extends layout

block content
  
  .pb-2.mt-3.mb-4.border-bottom
      h2 FAQ 
  #accordion
    .card.faq-card
      a.faq-header(href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-toggle='collapse')
        #headingOne.card-header
          h5.mb-0 How do I join?
      #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordion')
        .card-body
          p.
            1. Sign up for our mailing list #[a(href="" data-target="#basicModal" data-toggle="modal") here].
          p.
            2. Show up to any one of the classes listed on our #[a(href="/classes") schedule]. One of our instructors will greet you as soon as possible and get you started.  You are welcome to participate in your first class free of charge or simply observe.  
          p.
            If you have any questions, feel free to #[a(href="/contact") contact us].

    .card.faq-card
      a.faq-header(href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-toggle='collapse')
        #headingTwo.card-header
          h5.mb-0 How much does it cost to practice at Aikido Kokikai Rochester?
      #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
        .card-body
          p.
            #[strong Your first 4 classes are free of charge. After that, membership costs $60 per month for Adults, $35 per month for Students, and $30 per month for children.] We also have discounted rates for members that set up recurring subscriptions and members who choose to pay quarterly, bi-annually, or anually. Members can attend as many of our regularly scheduled classes as they like. These monthly dues cover the cost of running our dojo and go towards paying for rent, heat, electricity, and supplies. Since we are an all volunteer run organization our membership fees are extremely affordable in comparison to other dojos that operate more like a typical business.

    .card.faq-card
      a.faq-header(href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" data-toggle='collapse')
        #headingThree.card-header
          h5.mb-0 How can I pay?
      #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
        .card-body
          p.
            We accept cash and checks in person. Members can also pay online via PayPal #[a(href="/dues") here].

    .card.faq-card
      a.faq-header(href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" data-toggle='collapse')
        #headingFour.card-header
          h5.mb-0 What should I wear to class?
      #collapseFour.collapse.collapsed(aria-labelledby='headingFour' data-parent='#accordion')
        .card-body
          p.
            Feel free to wear any clothing that is comfortable, flexible, and durable enough to withstand grabbing, pulling, etc. Ideally, we'd prefer that you wear an Aikido gi (uniform) to follow Aikido tradition and help you avoid damaging your clothes while practicing with us.  If you'd like to be fitted for a gi and purchase locally, we'd recommend buying from #[a(href="http://www.continentalmartialarts.com/") Continental Martial Arts] at 494 Monroe Ave.
          p.
            For everyone's safety, please remove all jewelry and any loose/dangling piercings before class.

    .card.faq-card
      a.faq-header(href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" data-toggle='collapse')
        #headingFive.card-header
          h5.mb-0 Do I need to be young, strong, quick, fit, big, or tall to do Aikido?
      #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordion')
        .card-body
          | Aikido is for people of all body types and many continue practicing Aikido late into their lives.  In Aikido we try our best to use our own strength as little as possible.  Instead we use our attacker’s strength and energy to perform our techniques. You are free to practice everything we teach at your own pace.  You are never obligated to do anything that makes you feel uncomfortable.
          
    .card.faq-card
      a.faq-header(href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" data-toggle='collapse')
        #headingSix.card-header
          h5.mb-0 Can men and women practice Aikido together?
      #collapseSix.collapse(aria-labelledby='headingSix' data-parent='#accordion')
        .card-body.
          Of course! Like most martial arts, practicing Aikido requires substantial physical contact.  We know that this can be a bit overwhelming at first for some folks. If anyone, at any time, feels uncomfortable with certain techniques they can request to practice a modified version of the technique or they can opt to sit out for that particular technique and watch.  
          #[strong Inappropriate contact is not tolerated.]

    .card.faq-card
      a.faq-header(href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" data-toggle='collapse')
        #headingSeven.card-header
          h5.mb-0 Is Aikido safe? Will I get hurt?
      #collapseSeven.collapse(aria-labelledby='headingSeven' data-parent='#accordion')
        .card-body
          | There is always a chance for injury when practicing a martial art, or any sport for that matter.  However, Aikido is arguably significantly safer than other martial arts, because we do not compete with each other. We stress that students respect the pace in which their partners wish to practice. Our goal is to help each other improve our skills and better ourselves, not to beat each other up.
          
    .card.faq-card
      a.faq-header(href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" data-toggle='collapse')
        #headingEight.card-header
          h5.mb-0 What is the Aikido Kokikai Federation USA?
      #collapseEight.collapse(aria-labelledby='headingEight' data-parent='#accordion')
        .card-body
          p Aikido Kokikai Federation USA (AKF USA) is a membership organization who's mission is to:
          ul
            li Foster the growth of Kokikai Aikido in the USA
            li Track and maintain a list of dojos, instructors and students participating in Kokikai Aikido in the USA
            li Support the continuing ability for the Kokikai Aikido membership to have the opportunity to train with Sensei and other senior Aikido Kokikai instructors through national camps and regional seminars
          p Our dojo is affiliated with AKF USA and one of our Chief Instructors, Brian Martens, currently sits on the AKF USA Board of Trustees.

          p AKF USA membership is required to attend seasonal Kokikai camps and test for ranks within the organization. Our students are required to become members at the time of their first test. #[strong Currently, AKF USA membership costs $50 per year.]
          p 
            | For more information, please visit: 
            a(href='http://kokikaiusa.org') kokikaiusa.org

  br
  br
  .row.text-center
    .col 
      a.join-btn.btn-primary.box-shadow(href="" data-target="#basicModal" data-toggle="modal") Join Us!            
    