extends layout

block content
  div.bg-img(src="/images/bgimg.jpg")
  video.bgvid(poster="" id='bgvid' playsinline autoplay muted loop)
    source(src='/videos/bgvid.mp4')
  .video-text-overlay
    img.img-responsive.bgimg(src="/images/akr-logo.png")
    h1.video-text-header. 
      Aikido Kokikai Rochester
    p.lead Discover your best self.
    
    .row.mt-4
      .col
        a.btn-transparent.hero-btn(href="" data-target="#basicModal" data-toggle="modal") Join Us!
    .row.mt-3.mb-3
      .col
        a.btn-transparent.learn-more-btn(href="/about") Learn More