extends layout
block content

  .pb-2.mt-3.mb-4.border-bottom
    h2 Instructors
  .row
    .col-10.offset-1
      img.img-responsive.box-shadow(src='/images/group-pic.jpg', alt='Our Dojo')
      br
      h4.text-center.
        Our dojo is operated by a team of instructors led by #[strong Brian Martens Sensei] and #[strong Marcella Sarkozy Sensei.]  Our instructors have decades of experience practicing Aikido and are eager to teach you what they know.
  .pb-2.mt-3.mb-4.border-bottom
    h2 Chief Instructors
  .row
    .col-sm-5.offset-sm-1.text-center.mr-3
      h4 Brian Martens 
      h5.mb-3 4th Dan
      .circular-portrait
        img(src="/images/brian.jpg", height=150, width=150)
      p. 
        I have been practicing Aikido since late 1995. I am a Co-Chief instructor of the Rochester dojo of Kokikai Aikido.  I have practiced other martial arts including Tae Kwon Do since the age of 10.  I have experience teaching a variety of subjects from mentoring engineers to Aikido to blacksmithing.  As an engineer, I find a particular grace in the simple efficiency of Aikido movements and yet am continuously enchanted by its nuance.
    .col-sm-5.text-center
      h4 Marcella Sarkozy
      h5.mb-3 4th Dan
      .circular-portrait
        img(src="/images/marcella.jpg", height=150, width=150)
      p. 
        I have been practicing Aikido at Aikido Kokikai Rochester since 1999 and teaching since 2003. My practice and teaching style reflects a strong sense of dojo as a community. My Aikido mantra is, “It takes a dojo to raise a black belt.” Through my practice and teaching, I strive to share the joy and enrichment that Aikido has brought to my life both on and off the mat.
  .pb-2.mt-3.mb-4.border-bottom
    h2 Class Instructors
  .row
    .col-sm-5.offset-sm-1.text-center.mr-3
      h4 Ray Easton 
      h5 3rd Dan
      .circular-portrait
        img(src="/images/ray.jpg", height=150, width=150)
      p. 
        Aikido has greatly improved my life. Its benefits exceed the definition  of a martial art. Above and beyond the obvious (self defense tactics), the philosophies behind this amazing art form have improved my posture, help me to remain calm and centered, especially during times of conflict, and provides for me an overall martial mindset in all aspects of my life. 
        To reach our full potential, we must first find our “best state”. Aikido will help you discover and develop yours!  We take good care of our student body, advocating safety and encouraging beginners to work at their own pace without intimidation.
    .col-sm-5.text-center
      h4 Peter Veazie 
      h5 3rd Dan
      .circular-portrait
        img(src="/images/peter-veazie.jpg", height=150, width=150)
      p. 
        For me, Aikido is working with my environment to improve the wellbeing of myself and others, adapting and shaping to mitigate negative situations while generating positive ones.  Aikido is a practice, philosophy, goal, and life-long pursuit: one that forms my view of the world and my interaction with it.  I achieve this through continued practice of Kokikai Aikido, a style developed by Shuji Maruyama, to develop calmness, relaxation, correct posture, and positive mind.  The Kokikai principles provide the foundation for my growth in Aikido.
  .row.mt-3
    .col-sm-5.offset-sm-1.text-center.mr-3
      h4 Hugh Higgins
      h5 2nd Dan
      .circular-portrait
        img(src="/images/hugh.jpg", height=150, width=150)
      p.
        Aikido is fun. So I try to have fun at class. It is challenging mentally and physically. I have practiced martial arts on and off for 28 years. I have been studying Maruyama Sensei’s thoughts on Aikido since 2009 and am constantly amazed that you can always learn something new and improve every day.
        Our classes are designed to be scalable so that everyone, regardless of prior experience or physical make up can experience the pure fun and happiness that comes from discovering something new about themselves, their mind and their body.

    .col-sm-5.text-center
      h4 Len Butler 
      h5 2nd Dan
      .circular-portrait
        img(src="/images/len.jpg", height=150, width=150)
      p. 
        My first instructor taught in a traditional manner so my classes tend have this flavor as well. While some traditional techniques may not have as many applications in today's world, the lessons on principals and stability still apply. Together with Bokken and Jo, for technical reference, and an embrace of Aikido's philosophy of conflict resolution and moral responsibility, we can attain a much deeper understanding of the art, ourselves, and our role in society.
  
  .row.mt-3
    .col-sm-6.offset-sm-3.text-center
      h4 Kerman Bharucha 
      h5 1st Dan
      .circular-portrait
        img(src="/images/kerman.jpg", height=150, width=150)
      p. 
        I have been practicing Aikido as of March 2011. Aikido helps me to maintain my mental acuity and physical conditioning, both of which are very important to me at my age. Here's what I bring to the Kids' class at our dojo. Young kids are likely to encounter bullies at school. So my emphasis has always been to teach them how to defend themselves in bullying situations. Therefore, the bulk of our practice involves defenses against aggressive hand gestures. We also practice defenses against emulated weapons attacks.

  .pb-2.mt-3.mb-4.border-bottom
    h2.mt-3 Instructors Emeritus
  .row
    .col-sm-5.offset-sm-1.text-center.mr-3
      h4 Judy Warner 
      h5 6th Dan
      .circular-portrait
        img(src="/images/Judy_Warner.jpeg")
      p. 
        Physically, emotionally, and mentally, Aikido has shaped my life. After over 30 years of practice, I cannot imagine a day not framed with following its mind/body principles of calmness, relaxation, and positivity. 
        My teaching in aikido has always focused upon helping students to take their understanding of these principles one step further through their practice on the mat.
    .col-sm-5.text-center
      h4 Chris Steerman
      h5 3rd Dan
      .circular-portrait
        img(src="/images/chris-steerman.jpg")
      p. 
        Aikido can provide a piece to the puzzle of healing. Even if the student cannot stay in practice, there may have been a seed planted which can grow when that person is farther along in her own recovery.
        The terrible untimely lesson that has been learned regarding the fragility of the human body is replaced by a sense of strength , power, and energy. The isolation is replaced by a connection with self and others. We can become a community. We are not adversaries, but teachers, connected and interdependent, yet self-reliant and strong.    
  .pb-2.mt-3.mb-4.border-bottom
    h2.mt-3 In Memoriam
  .row.mb-5  
    .col-sm-5.offset-sm-1.text-center.mr-3
      h4 Rick Packard
      h5 5th Dan #[br] (1944-2016)
      .circular-portrait
        img.desaturate(src="/images/rick_packard.jpg")
      p Teacher, Mentor, Friend.
      p. 
        Rick began his practice of Kokikai Aikido in the mid-80’s. He was both a student and a teacher that you could count on seeing regularly in class 5 to 6 days a week. He probably logged in more hours than any other active member at the time. He was an avid volunteer, always ready to help out with any project or event in the dojo.
        Rick was great at welcoming new students and making them feel comfortable. His consistent dedication left a lasting impression with many of us that continue to practice today.

    .col-sm-5.text-center
      h4 Steve Ridley 
      h5 3rd Dan #[br] (1951-2005)
      .circular-portrait
        img.desaturate(src="/images/steve.jpg", height=150, width=150)
      p Teacher, Mentor, Friend.
      p. 
        Steve started practicing Kokikai Aikido with us in the late-80’s. He was a student, a teacher, a mentor and a dojo handyman. Steve was a soft spoken man on and off the mat. He taught the Beginner's class and provided mentoring for new teachers. Steve was a behind-the-scenes volunteer. He kept things running in the dojo, fixing phones and locks, resetting clocks, changing batteries and doing all the little things that were needed. His quiet devotion to our dojo left a lasting impression on many of us that we hope to pass on to each new student.

  .row.text-center
    .col 
      a.join-btn.btn-primary.box-shadow(href="" data-target="#basicModal" data-toggle="modal") Join Us!
