@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "lib/font-awesome/fontawesome";
@import "lib/font-awesome/fa-brands";
@import "lib/font-awesome/fa-regular";
@import "lib/font-awesome/fa-solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

.test{
  color:blue;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
  margin-left: 15px;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

//Jason Did This

body {
  background-color: whitesmoke !important;
  overflow-x: hidden;
}

.circular-portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  margin: 0 auto 15px;
  box-shadow: 2px 6px 25px 3px #888888;
}

.circular-portrait img {
  width: 100%;
  height: auto;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.navbar-text {
  margin-left: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid darkgray; }

.bgimg{
  display:none !important;
  width: 50%;
  margin: 0 auto;
}

.bg-img{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("/images/bgimg.jpg");
  background-position: 50% 50%;
}
  
.bgvid{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
  
.carousel-inner{
  width: 100%;
  height: 500px !important;
}

@media (max-width: 768px) {
  .bgvid{display: none;}
  .bgimg{display: block !important;}
  .video-text-overlay, .hero-btn, .learn-more-btn{ text-align: center;}
  .video-text-overlay, .hero-btn, .learn-more-btn{ top: 48% !important;}
  // .btn-transparent {border-color: black !important;}
  // .btn-transparent:hover {
  //   color: black !important;
  //   background-color: rgba(0,0,0,0.2) !important;
  //   text-decoration: none !important;
  // }
}

@media (min-width: 769px) {
  .bgimg{display:none !important;}
  .bg-img{display:none !important;}
  .video-text-overlay{ 
    text-shadow: 3px 3px 6px #1c1b1b;
  }

}

@media (max-width: 768px) {

  .galleria{height: 600px; background: #000; }

}

.review{
  margin: 15px;
}

.lg-img {
  width: 250px;
  height: 250px;
}

.review-row {
  margin-top: 20px;
}

.video-text-overlay{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 3px 3px 6px #1c1b1b;
}
.video-text-header{
  font-size: 3.5em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.galleria{height: 500px; background: #000; }
.galleria-theme-classic{background: whitesmoke !important;}

img.desaturate {
  filter: grayscale(100%);
}

.btn-transparent {
    background: transparent;
    color: white;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 2px solid white;
    border-radius:  10px;
}

.btn-transparent:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    text-decoration: none !important;
}

.hero-btn, .join-btn{
  font-size: 250%;
  padding: 7px 20px 5px 20px;
  margin: 0 10px 0 10px;
}

.box-shadow{
  box-shadow: 0px 2px 20px 1px #888888;
}

.learn-more-btn {
  font-size: 150%;
  padding: 5px 10px 5px 10px;
  margin: 20px 10px 0 10px
}

.logo {
  margin-left: 15px;
}

.img-circle {
  border-radius: 50%; }

.img-rounded {
  border-radius: 6px; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-match-container {
  width:100%;
  height:auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.card-header{
  background-color: #67a6db;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.faq-card {
  box-shadow: 2px 3px 15px #2a323fd1;
  margin-top: 10px;
  border: 1px solid rgb(103, 166, 219);
}

.faq-card:hover {
  box-shadow: 5px 6px 25px #2a323fd1;
  color: black;
}

.faq-header, .faq-header:hover{
  color: black;
}

.btn-link{
  color: black;
  font-weight: 800;
}

.btn-link:hover {
  color: black;
}

.navbar-light .navbar-nav > li > a {
  font-weight: 800;
}

footer {
  line-height: 20px;
  height: 50px
}

button:focus{outline:0;}
a:focus{outline:0;}