@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";

// Buttons
// -------------------------

.btn {
  border-radius: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11), 1px 1px 0 rgba(255, 255, 255, 0.21) inset;

  &:focus {
    outline: none;
  }
}

.btn-link {
  box-shadow: none;
}

.btn-raised, .btn-raised:focus, .btn-raised:active, .btn-raised:hover {
  color: rgb(51, 51, 51);
  background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
  border-color: rgb(204, 204, 204);
}

// Forms
// -------------------------

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

// Alerts
// -------------------------

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

// Navbar
// -------------------------

.navbar-light {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  opacity: 0.9;
  .navbar-nav {
    > li > a {
      font-size: 12px;
      font-weight: 500;
      // text-transform: uppercase;
      transition: all 0.2s linear;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .nav-link {
      color: black;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .navbar-brand {
    color: $navbar-light-color;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-toggler {
    border-bottom-color: rgb(221, 221, 221);
    color: rgb(51,51,51);
  }
  .navbar-toggler:focus {
    background: rgb(221, 221, 221);
  }

  .navbar-toggler:hover {
    background: rgb(221, 221, 221);
  }
}

.navbar-toggler-icon {
  color: rgb(51,51,51);
}

.dropdown-item {
  > a {
    color: black;
    text-decoration: none;
  }
}

.dropdown-menu {
  left: initial;
  right: 0; /* add right with 0 or a low pixel value */
}
